@use "../common/common.scss" as *;

header > nav > .nav-links a:nth-child(2) {
    color: $color;
    transition: .3s ease;
    &:hover {
        opacity: .5;
    }
}

.hero-container {
    @include inner-page-hero;
    h1 {
        font-size: 42px;
    }
}

.page-container {
    @include page-styles;
    .page-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        padding-top: 8%;
        padding-left: 12.5%;
        .post-label {
            font-size: 14px;
            margin-bottom: 8%;
            h3 {
                font-size: 25px;
                color: $text;
                margin-top: 10px;
            }
            p {
                color: grey;
                a {
                    color: rgb(39, 39, 163);
                }
            }
            a {
                text-decoration: none;
                transition: .3s ease;
                &:hover {
                    opacity: .7;
                }
            }
        }
        .post-label a:nth-child(1) {
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .post-label p:nth-child(4) {
            color: $text;
        }
    }
}

@media (max-width: 750px) and (min-width: 425px) {
    .hero-container {
        height: 45%;
        .hero-title {
            h1 {
                font-size: 26px;
            }
        }
    }
    .page-container {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        margin-top: -18%;
        .page-content-wrapper {
            padding: 20px 15px;
            width: 90%;
            .post-label {
                margin-bottom: 15%;
                h3 {
                    margin: 0;
                }
                p {
                    margin: 0 0 15px;
                }
            }
        }
    }
}