body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  line-height: 1.618;
  font-weight: 300;
  overflow-x: hidden;
  background-color: rgb(220, 227, 235);
}

.page-container h1,
.page-container h2,
.page-container h3,
.page-container a {
  font-family: "Roboto-Slab";
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
:root p {
  font-family: Arial, Helvetica, sans-serif;
}
:root header > nav > a {
  font-family: Arial, Helvetica, sans-serif;
}
:root .hero-title h1 {
  font-family: Arial, Helvetica, sans-serif;
}
:root button {
  border-radius: 3px;
}

header {
  background-color: white;
  box-shadow: 0 0.2px 10px rgb(200, 200, 200);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
header nav h3 {
  font-size: 18px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
}
header nav h3:hover {
  opacity: 0.7;
}
header nav a {
  text-decoration: none;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
header nav .nav-links {
  margin: 10px 0;
  font-size: 12px;
}
header nav .nav-links a {
  padding: 15px;
  transition: 0.3s ease;
}
header nav .nav-links a:hover {
  color: #e91e63;
}
header nav .nav-links button {
  color: white;
  background-color: #e91e63;
  border: 1px solid #e91e63;
  border-radius: 24px;
  padding: 15px 20px;
  transition: 0.3s ease;
}
header nav .nav-links button:hover {
  box-shadow: 0 2px 15px 0 rgba(233, 30, 99, 0.14), 0 3px 10px -2px rgba(233, 30, 99, 0.2), 0 1px 15px 0 rgba(233, 30, 99, 0.2);
  color: rgb(219, 219, 219);
}

footer {
  height: 100px;
  background-color: rgb(49, 49, 49);
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 100px;
  padding: 25px;
  font-size: 14px;
}
footer .footer-wrapper .foot-links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}
footer .footer-wrapper .foot-links a:hover {
  color: grey;
}

@media (max-width: 750px) and (min-width: 425px) {
  header nav {
    margin: 0 15px;
  }
  header nav .nav-links a {
    padding: 5px;
  }
  footer {
    height: 15%;
  }
  footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 0;
    padding: 15px 0;
  }
  footer .footer-wrapper .foot-links a {
    padding: 15px;
    margin-right: 0;
  }
}
header > nav > .nav-links a:nth-child(2) {
  color: #e91e63;
  transition: 0.3s ease;
}
header > nav > .nav-links a:nth-child(2):hover {
  opacity: 0.5;
}

.hero-container {
  background-image: linear-gradient(to right, #bd2088, #e91e63);
  color: white;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container h1 {
  font-size: 42px;
}

.page-container {
  width: 95%;
  margin-left: 2.5%;
  margin-top: -4%;
  background-color: white;
  border: 1px white solid;
  border-radius: 8px 8px 0 0;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2), -5px 0 15px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.2);
}
.page-container .page-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
  padding-top: 8%;
  padding-left: 12.5%;
}
.page-container .page-content-wrapper .post-label {
  font-size: 14px;
  margin-bottom: 8%;
}
.page-container .page-content-wrapper .post-label h3 {
  font-size: 25px;
  color: #3c4858;
  margin-top: 10px;
}
.page-container .page-content-wrapper .post-label p {
  color: grey;
}
.page-container .page-content-wrapper .post-label p a {
  color: rgb(39, 39, 163);
}
.page-container .page-content-wrapper .post-label a {
  text-decoration: none;
  transition: 0.3s ease;
}
.page-container .page-content-wrapper .post-label a:hover {
  opacity: 0.7;
}
.page-container .page-content-wrapper .post-label a:nth-child(1) {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.page-container .page-content-wrapper .post-label p:nth-child(4) {
  color: #3c4858;
}

@media (max-width: 750px) and (min-width: 425px) {
  .hero-container {
    height: 45%;
  }
  .hero-container .hero-title h1 {
    font-size: 26px;
  }
  .page-container {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
    margin-top: -18%;
  }
  .page-container .page-content-wrapper {
    padding: 20px 15px;
    width: 90%;
  }
  .page-container .page-content-wrapper .post-label {
    margin-bottom: 15%;
  }
  .page-container .page-content-wrapper .post-label h3 {
    margin: 0;
  }
  .page-container .page-content-wrapper .post-label p {
    margin: 0 0 15px;
  }
}/*# sourceMappingURL=blog.css.map */