body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    line-height: 1.618;
    font-weight: 300;
    overflow-x: hidden;
    background-color: rgb(220, 227, 235);
}

$color: #e91e63;
$text: #3c4858;

.page-container h1,
.page-container h2,
.page-container h3,
.page-container a {
    font-family: "Roboto-Slab";
}

@mixin inner-page-hero {
    background-image: linear-gradient(to right, #bd2088, #e91e63);
    color: white;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page-styles {
    width: 95%;
    margin-left:2.5%;
    margin-top: -4%;
    background-color: white;
    border: 1px white solid;
    border-radius: 8px 8px 0 0;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2), -5px 0 15px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.2);
}

@mixin input-textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    transition: .1s ease-in-out;
    &:focus {
        border-bottom: 1px solid $color;
    }
}

@mixin tooltip-basic {
    visibility: hidden;
    width: 120px;
    font-size: 12px;
    color: grey;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
    transition: opacity 0.3s;
}

@font-face {
    font-family: "Roboto-Slab";
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
}

:root {
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    header > nav > a {
        font-family: Arial, Helvetica, sans-serif;
    }
    .hero-title h1 {
        font-family: Arial, Helvetica, sans-serif;
    }
    button {
        border-radius: 3px;
    }
}

header {
    background-color: white;
    box-shadow: 0 .2px 10px rgb(200, 200, 200);
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
    nav {
        display: flex;
        justify-content: space-between;
        margin: 0 100px;
        
        h3 {
            font-size: 18px;
            margin-top: 20px;
            font-family: Arial, Helvetica, sans-serif;
            transition: .3s ease;
            &:hover {
                opacity:.7;
            }
        }
        a {
            text-decoration: none;
            color: grey;
            font-family: Arial, Helvetica, sans-serif;
        }
        .nav-links {
            margin: 10px 0;
            font-size: 12px;
            a {
                padding: 15px;
                transition: .3s ease;
                &:hover {
                    color: $color;
                }
            }
            button {
                color: white;
                background-color: $color;
                border: 1px solid $color;
                border-radius: 24px;
                padding: 15px 20px;
                cursor: pointer;
                transition: .3s ease;
                &:hover {
                    box-shadow: 0 2px 15px 0 rgba(233,30,99,.14),0 3px 10px -2px rgba(233,30,99,0.2),0 1px 15px 0 rgba(233,30,99,0.2);
                    color: rgb(219, 219, 219);
                }
            }
        }
    }
}

footer {
    height:100px;
    background-color: rgb(49, 49, 49);
    .footer-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        margin: 0 100px;
        padding: 25px;
        font-size: 14px;
        .foot-links a{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-decoration: none;
            color: white;
            transition: .3s ease;
            &:hover {
                color: grey;
            }
        }
    }
}

@media (max-width: 750px) and (min-width: 425px) {

    header nav {
        margin: 0 15px;
        .nav-links a {
            padding: 5px; 
        }
    }

    footer {
        height: 10%;
        .footer-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: rgb(49, 49, 49);
            margin: 0 0;
            padding: 20px 0;
            .foot-links a {
                padding: 15px;
                margin-right: 0;
            }
        }
    }
    
}