body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: rgb(220, 227, 235);
}

@font-face {
  font-family: "Roboto-Slab";
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
}
:root p {
  font-family: Arial, Helvetica, sans-serif;
}
:root header > nav > a {
  font-family: Arial, Helvetica, sans-serif;
}
:root .hero-title h1 {
  font-family: Arial, Helvetica, sans-serif;
}
:root .page-container h1,
:root .page-container h2,
:root .page-container h3,
:root .page-container a {
  font-family: "Roboto-Slab";
}
:root button {
  border-radius: 3px;
}

header {
  background-color: white;
  box-shadow: 0 0.2px 10px rgb(200, 200, 200);
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}
header nav h3 {
  font-size: 18px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
}
header nav h3:hover {
  opacity: 0.7;
}
header nav a {
  text-decoration: none;
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}
header nav .nav-links {
  margin: 10px 0;
  font-size: 12px;
}
header nav .nav-links a {
  padding: 15px;
  transition: 0.3s ease;
}
header nav .nav-links a:hover {
  color: #e91e63;
}
header nav .nav-links button {
  color: white;
  background-color: #e91e63;
  border: 1px solid #e91e63;
  border-radius: 24px;
  padding: 15px 20px;
  transition: 0.3s ease;
}
header nav .nav-links button:hover {
  box-shadow: 0 2px 15px 0 rgba(233, 30, 99, 0.14), 0 3px 10px -2px rgba(233, 30, 99, 0.2), 0 1px 15px 0 rgba(233, 30, 99, 0.2);
  color: rgb(219, 219, 219);
}

footer {
  height: 90px;
  background-color: rgb(49, 49, 49);
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0 100px;
  padding: 25px;
  font-size: 14px;
}
footer .footer-wrapper .foot-links a {
  text-decoration: none;
  color: white;
  margin-right: 50px;
  transition: 0.3s ease;
}
footer .footer-wrapper .foot-links a:hover {
  color: grey;
}

header > nav > .nav-links a:nth-child(3) {
  color: #e91e63;
  transition: 0.3s ease;
}
header > nav > .nav-links a:nth-child(3):hover {
  opacity: 0.5;
}

.hero-container {
  background-image: linear-gradient(to right, #bd2088, #e91e63);
  color: white;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container iframe {
  width: 100%;
  height: 100%;
}

.page-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: white;
  color: #3c4858;
}
.page-container h1 {
  font-size: 37px;
  padding-bottom: 60px;
}
.page-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  padding-left: 10%;
}
.page-container form input, .page-container form textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  transition: 0.1s ease-in-out;
}
.page-container form input:focus, .page-container form textarea:focus {
  border-bottom: 1px solid #e91e63;
}
.page-container form textarea {
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
}
.page-container form button[type=submit] {
  max-width: 120px;
  color: white;
  padding: 14px 33px;
  margin-top: 30px;
  color: white;
  background-color: #e91e63;
  border: 1px solid #e91e63;
  transition: 0.3s ease;
}
.page-container form button[type=submit]:hover {
  box-shadow: 0 10px 15px 0 rgba(233, 30, 99, 0.14), 0 3px 10px -2px rgba(233, 30, 99, 0.2), 0 1px 15px 0 rgba(233, 30, 99, 0.2);
}/*# sourceMappingURL=contact.css.map */