@use "../common/common.scss" as *;

.hero-container {
    @include inner-page-hero;
    .hero-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 42px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 0;
        }
        p {
            margin-top: 10px;
        }
    }
}

.page-container {
    @include page-styles;
    .page-content,
    .content-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        padding: 50px 20%;
        font-size: 18px;
        hr {
            width: 100%;
            margin: 20px 0;
        }
        a {
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            color: $color;
            transition: .3s ease;
            &:hover {
                opacity: .7;
            }
        }
    }
    .page-content .headers {
        h1 {font-size: 42px;}
        h2 {font-size: 37px;}
        h3 {font-size: 32px;}
        h4 {font-size: 27px;}
        h5 {font-size: 23px;}
        h6 {font-size: 18px;}
    }
    .page-content, form {
        color: $text;
        h1, h2, h3, h4, h5, h6, p {
            margin: 0 0 15px;
            font-family: Arial, Helvetica, sans-serif;
        }
        h2 {
            font-size: 37px;
        }
        ol, ul {
            margin: 0 0 30px;
            padding: 0 0 0 40px;
            font-family: Arial, Helvetica, sans-serif;
        }
        label {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    }
    legend {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 21px;
        margin: 0 0 20px;
    }
    form {
        .text-field input,
        .textarea-field textarea,
        .password-field input {
            @include input-textarea;
            width: 98%;
            text-indent: 0;
        }
        textarea {
            font-family: Arial, Helvetica, sans-serif;
            resize: none;
        }
        select {
            appearance: none;
            font-size: 18px;
            padding: 7px;
        }
        .upload-field input {
            font-size: 18px;
            padding: 7px;
        }
        .clear {
            font-size: 19px;
            padding: 10px 7px;
            box-sizing: border-box;
            border: .5px solid black;
            box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
            cursor: pointer;
            &:hover {
                color: white;
                background-color: rgb(225, 225, 225);
            }
        }
        .submit {
            max-width: 120px;
            color: white;
            padding: 14px 33px;
            color: white;
            background-color: $color;
            border: 1px solid $color;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        border-spacing: 0;
        thead,tr:not(:last-child) {
            border-bottom: 1px solid rgb(237, 235, 235);
        }
        thead {
            text-align: left;
        }
        th, td {
            padding: 12px 8px;
        }
    }
    pre {
        overflow: auto;
        white-space: pre;
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #eeeded;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-style: italic;
        border-left: 5px solid #eee;
    }
    .content-footer {
        padding-top: 0;
        font-size: 14px;
        a {
            font-size: 10px;
            background-color: $color;
            color: white;
            padding: 5px 15px;
            border-radius: 12px;
        }
        .socials {
            text-align: right;
            a {
                position: relative;
                margin: 10px 1px;
                padding: 12px 14px;
                font-size: 20px;
                .tooltip {
                    @include tooltip-basic;
                }
                .tooltip::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }
                &:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
                }
            }
            
        }
        .socials a:nth-child(1) {
            padding: 12px 18px;
            background-color: #3b5998;
            border-radius: 30px;
        }
        .socials a:nth-child(2) {
            background-color: black;
            border-radius: 30px;
        }
        .socials a:nth-child(3) {
            background-color: grey;
            border-radius: 30px;
        }
    }
}

.related-posts-container {
    text-align: center;
    padding: 70px 0;
    width: 95%;
    margin-left:2.5%;
    h1 {
        font-size: 37px;
        font-family: "Roboto-Slab";
    }
    a {
        text-decoration: none;
        color: $text;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            opacity: .7;
        }
    }
    .post-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        .post-content {
            text-align: left;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            h3 {
                font-size: 18px;
                font-family: "Roboto-Slab";
                margin: 5px 0;
            }
            p {
                font-size: 14px;
                a {
                    color: rgb(39, 39, 163);
                }
            }
        }
    }
}

@media (max-width: 750px) and (min-width: 425px) {
    .hero-container {
        height: 45%;
        .hero-content-wrapper {
            h1 {
                font-size: 26px;
            }
        }
    }
    .page-container {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        margin-top: -18%;
        .page-content,
        .content-footer {
            width: 90%;
            padding: 20px 15px;
        }
        .page-content {
            p, li, label, th, td, blockquote {
                font-size: 16px;
            }
            h1, h2 {
                font-size: 28px;
            }
            .headers {
                h1 {font-size: 30px;}
                h2 {font-size: 28px;}
                h3 {font-size: 24px;}
                h4 {font-size: 22px;}
                h5 {font-size: 20px;}
                h6 {font-size: 18px;}
            }
        }
        .content-footer .socials {
            margin-top: 10%;
            text-align: left;
        }
    }
    .related-posts-container {
        h1 {
            font-size: 24px;
            margin-bottom: 20%;
        }
        .post-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 0 15px;
        }
    }
}