@use "../common/common.scss" as *;

.hero-container {
    @include inner-page-hero;
    .hero-content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 42px;
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 0;
        }
        p {
            margin-top: 10px;
        }
    }
}

.page-container {
    @include page-styles;
    .main-content,
    .content-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        padding: 50px 20%;
        font-size: 18px;
        hr {
            width: 100%;
            margin: 20px 0;
        }
        p {
            margin: 0 0 15px;
        }
        li {
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .content-footer {
        padding-top: 0;
        font-size: 14px;
        a {
            text-decoration: none;
            color: $color;
            font-family: Arial, Helvetica, sans-serif;
        }
        .uncategorized {
            font-size: 10px;
            background-color: $color;
            color: white;
            padding: 5px 15px;
            border-radius: 12px;
            transition: .3s ease;
            &:hover {
                opacity: .7;
            }
        }
        .socials {
            text-align: right;
            margin-top: -4%;
            a {
                position: relative;
                margin: 10px 1px;
                padding: 12px 14px;
                font-size: 20px;
                .tooltip {
                    @include tooltip-basic;
                }
                .tooltip::after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }
                &:hover .tooltip {
                    visibility: visible;
                    opacity: 1;
                }
                &:hover {
                    opacity: 1;
                    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px;
                }
            }
            
        }
        .socials a:nth-child(1) {
            padding: 12px 18px;
            background-color: #3b5998;
            border-radius: 30px;
        }
        .socials a:nth-child(2) {
            background-color: black;
            border-radius: 30px;
        }
        .socials a:nth-child(3) {
            background-color: grey;
            border-radius: 30px;
        }
    }

    .comment-section {
        text-align: center;
        .comment-section-wrapper {
            width: 60%;
            padding: 50px 20%;
            font-size: 18px;
            h1 {
                font-size: 27px;
            }  
            .comment-content {
                display:flex;
                img {
                    height: 64px;
                    width: 64px;
                    aspect-ratio: auto 64 / 64;
                    margin: 0 15px 0 0;
                    cursor: pointer;
                    &:hover {
                        opacity: .7;
                    }
                }
                .comment {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    p {
                        margin: 0 0 15px;
                        font-size: 16px;
                        color: #555555;
                    }
                    a {
                        font-weight: bold;
                        font-family: "Roboto-Slab";
                        font-size: 18.2px;
                        color: $text;
                        text-decoration: none;
                        &:hover {
                            opacity: .7;
                        }
                    }
                }
                .comment p:nth-child(1) {
                    font-size: 13.54px;
                    color: #777777;
                }
            }
        }   
    }
}


.related-posts-container {
    text-align: center;
    padding: 70px 0;
    width: 95%;
    margin-left:2.5%;
    h1 {
        font-size: 37px;
        font-family: "Roboto-Slab";
    }
    a {
        text-decoration: none;
        color: $text;
        font-family: Arial, Helvetica, sans-serif;
        &:hover {
            opacity: .7;
        }
    }
    .post-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 4%;
        .post-content {
            text-align: left;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            h3 {
                font-size: 18px;
                font-family: "Roboto-Slab";
                margin: 5px 0;
            }
            p {
                font-size: 14px;
                a {
                    color: rgb(39, 39, 163);
                }
            }
        }
    }
}

@media (max-width: 750px) and (min-width: 425px) {
    .hero-container {
        height: 45%;
        .hero-content-wrapper {
            h1 {
                font-size: 26px;
            }
        }
    }
    .page-container {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
        margin-top: -18%;
        .main-content,
        .content-footer {
            width: 90%;
            padding: 20px 15px;
        }
        .main-content {
            p, li {
                font-size: 16px;
            }
        }
        .content-footer .socials {
            margin-top: 10%;
            text-align: left;
        }
        .comment-section {
            .comment-section-wrapper {
                width: 90%;
                padding: 50px 15px;
            }
        }
    }
    .related-posts-container {
        h1 {
            font-size: 24px;
            margin-bottom: 20%;
        }
        .post-content-wrapper {
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 0 15px;
        }
    }
}